
@{
    ViewData["Title"] = "DisplayMessage";
}

<h1>Form validation is successful!!!</h1>

<div class="form-group">
    <a asp-action="Signup" asp-controller="Account">Back to Signup Window</a>
</div>


